<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/adminpage.css">
</head>

<header>
</header>
<body>
    <div class="CssContainer">
<!--
    <div id="adminoptions" class="selection">
        <div class="headingTag"><h2> Choose an option:</h2>
        </div>
        <div class="btn-group">
            <button id="add" onclick="addEmployee()">Add new employee.</button>
            <button id="delete">Delete pre-existing employee.</button>
            <button id="updateemployee">Update employee info.</button>
            <button id="report">Employee expense report</button>
            <button id="addemployer">Add new employer.</button>
            <button id="updateemployer">Update employer info.</button>
            <button id="createw2">Create employee W2</button>
        </div>
    </div>
-->

    <div id="addemployer-1" class="container">
        <h1>Add Employer:</h1>
        <form class="form-container" action="/addemployer" method="POST">
            <p><input type="text" name="employerid"
                placeholder="Employer ID">
            </p>
            <p><input type="text" name="companyname"
                placeholder="Company Name">
            </p>
            <p><input type="text" name="companysale"
                placeholder="Company Sale">
            </p>
            <p><input type="" name="insuranceprem"
                placeholder="Insurance Premium Contribution">
            </p>
            <p><input type="text" name="contriMatch"
                placeholder="401k Company Match">
            </p>
            <p id="addemployersubmit"><input type="submit" name="addemployersubmit" value="Enter"></p>
        </form>
    </div>

    <div id="updateemployer-1" class="container">
        <h1>Update Employer:</h1>
        <form class="form-container" onsubmit="updateEmployerSubmit()">
            <p><input type="text" name="employerid"
                placeholder="Employer ID">
            </p>
            <h3>Enter only what you want to change:</h3>
            <p><input type="text" name="companyname"
                placeholder="Company Name">
            </p>
            <p><input type="text" name="companysale"
                placeholder="Company Sale">
            </p>
            <p><input type="" name="insuranceprem"
                placeholder="Insurance Premium Contribution">
            </p>
            <p><input type="text" name="401kcompanymatch"
                placeholder="401k Company Match">
            </p>
            <p id="updateemployersubmit"><input type="submit" name="updateemployersubmit" value="Enter"></p>
        </form>
    </div>

    <div id="createw2-1" class="container">
        <h1>Create W2:</h1>
        <form class="form-container" onsubmit="createW2Submit()">
            <p><input type="text" name="w2firstname"
                placeholder="Employee First Name">
            </p>
            <p><input type="text" name="w2secondname"
                placeholder="Employee Second Name">
            </p>
        <button id="createw2-1submit"><input type="submit" name="createw2submit" value="Enter"></p>
        </form>

    </div>

    <div id="createw2-2" class="p-container">
        <h2>W2 Information:</h2>
        <p id="w2ssn"></p>
        <p id="w2earnedincome"></p>
        <p id="w2deductions"></p>
        <p id="w2bonus"></p>
        <p id="employerinsurancecontribution"></p>
        <button id="w2clear">Clear Information</button>
    </div>

    <div id="expensereport-1" class="container">
        <form class="form-container" onsubmit="expenseReportSubmit()">
            <p><input type="text" name="reportempfirstname"
                placeholder="Employee First Name">
            </p>
            <p><input type="text" name="reportempsecondname"
                placeholder="Employee Second Name">
            </p>

            <p id="expensereport-1submit"><input type="submit" name="expensesubmit" value="Enter"></p>
        </form>
    </div>

    <div id="expensereport-2" class="p-container">
        <h2>Expense Report Information:</h2>
        <p id="expensewages"></p>
        <p id="expensebonus"></p>
        <p id="401kemployeecontribution"></p>
        <p id="401kemployercontribution"></p>
        <p id="employerinsurancecontribution"></p>
        <button id="expensereportclear">Clear Information</button>
    </div>

    <div id="addemployee" class="container">
        <h1>Add Employee:</h1>
        <form class="form-container" action='/addemployee' method="POST">
            <p><input type="text" name="addemail"
                placeholder="Employee E-mail">
            </p>
            <p><input type="text" name="addemppassword"
                placeholder="Employee Password">
            </p>
            <p><input type="text" name="addssn"
                placeholder="Employee SSN">
            </p>
            <p><input type="text" name="addempname"
                placeholder="Employee Name">
            </p>
            <p><input type="text" name="addjobtitle"
                placeholder="Job Title">
            </p>

            <h3>Enter the employee's salary type:</h3>
                <select class="box" name="salary">
                    <option value="salaried">Salaried</option>
                    <option value="hourly">Hourly</option>
                </select>
            <h3>Enter the employee's performance:</h3>
            <select name="performance">
                <option value="super-performer">Super-performer</option>
                <option value="good">Good</option>
                <option value="ok">Ok</option>
                <option value="bad">Bad</option>
            </select>
            <p><input type="text" name="cont"
                placeholder="401k Contribution">
            </p>
            <p><input type="text" name="empstate"
                placeholder="Employee State">
            </p>
            <p><input type="text" name="addempid"
                placeholder="Employer ID">
            </p>
            <p><input type="text" name="base_salary"
                placeholder="Base Salary">
            </p>
            <h3>manager</h3>
            <select name="Manager">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <p><input type="text" name="address"
                placeholder="Residential address">
            </p>
            <p id="addemployeesubmit"><input type="submit" name="addsubmit" value="Enter"></p>
        </form>
    </div>

    <div id="deleteemployee" class="deleteemployee">
        <h1>Delete Employee:</h1>
        <div  id="deleteemployee" class="deleteemployee">
        <form class="delete-container" method="POST" action="/deleteemployee">

            <p><input type="text" name="addemail"
                placeholder="Employee E-mail to Delete">
            </p>

            <p id="submit"><input type="submit" name="deletesubmit" value="Enter"></p>
        </form>
    </div>

    <div id="updateemployee-1" class="container">
        <h1>Update Employee:</h1>
<<<<<<< HEAD
        <form class="form-container",action="/updateemployee",method="POST">
            <p><input type="text" name="updateempname"``
=======
        <form class="form-container" action="/updateemployee" method="POST">
            <p><input type="text" name="updateempname"
>>>>>>> 9296b56d7a2b57dc3211846d1a614f53268bd1cf
                placeholder="Employee Name">
            </p>
            <p><input type="Job Title" name="updatejobtitle"
                placeholder="Job Title"
            </p>
            <h3>Enter only what you want to change:</h3>
            <p><input type="text" name="updatemailaddress"
                placeholder="Change email Address">
            </p>
            <p><input type="text" name="updateperformance"
                placeholder="Update Employee Performance">
            </p>
            <p><input type="text" name="updateaddress"
                placeholder="Update Employee Address">
            </p>
            <p><input type="text" name="update401k"
                placeholder="Update 401k Contribution">
            </p>

            <h3>Update the employee's salary type:</h3>
            <select class="box" name="updatesalary">
                <option value="salaried">Salaried</option>
                <option value="hourly">Hourly</option>
            </select>
            <p><input type="text" name="updatebase_salary"
                placeholder="Update base salary">
            </p>

            <p id="submit"><input type="submit" name="updatesubmit" value="Enter"></p>
        </form>
    </div>


</div>
</body>
</html>
