<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="employeepage.js"></script>
    <link rel="stylesheet" href="css/adminportal.css">

</head>

<header>
</header>

<body>
    <div id="employeeoptions" class="selection">
        <h2> Choose an option:</h2>
        <div class="btn-group">
            <button id="adddependent">Add new dependent.</button>
            <button id="updateaddress">Update address.</button>
            <button id="update401k">Update 401k contribution.</button>
            <button id="paycheck">View your paycheck.</button>
        </div>
    </div>
</body>
