<!DOCTYPE html>
<html>
<head>

</head>
    
<header>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/indexstyle.css">
    <link rel='stylesheet' type="text/css" href="css/home.css">
</header>
<body>
    <div class="container">
          <center>
              <h2> CS 425 </h2>
        </center>
    </div>
</body>
</html>