<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="managerpage.js"></script>
    <link rel="stylesheet" href="css/managerpage.css">

</head>

<header>
</header>

<body>

    <div class="CssContainer">

        <span>
            <h3>
                Add a Dependent:
            </h3>
        </span>

        <div id="addDependent-1" class="container">
            <form class="form-container" onsubmit="addDependentSubmit()">

                <p><input type="text" name="EmployeeEmail" placeholder="Employee Email">
                </p>

                <p><input type="text" name="dependentname" placeholder="Name of your Dependent">
                </p>
                <p><input type="text" name="dependentSSN" placeholder="SSN">
                </p>
                <h4>Choose your relationship</h4>
                <select class="box" name="dependentrelation">
                    <option value="mother">Mother</option>
                    <option value="father">Father</option>
                    <option value="spouse">Spouse</option>
                    <option value="child">Child</option>
                    <option value="sibling">Sibling</option>

                </select>
                <p id="addDependentSubmit"><input type="submit" name="addDependentSubmit" value="Enter"></p>
            </form>
        </div>

        <span>
            <h3>
                Update Your Address:
            </h3>
        </span>

        <div id="updateaddress-1" class="container">
            <form class="form-container" onsubmit="updateAddressSubmit()">
                <p><input type="text" name="address" placeholder="New Address">
                </p>
                <p id="addresssubmit"><input type="submit" name="addresssubmit" value="Enter"></p>
            </form>
        </div>

        <span>
            <h3>
                Update 401k Contribution:
            </h3>
        </span>

        <div id="update401k-1" class="container">
            <form class="form-container" onsubmit="update401k-1" onsubmit="update401kSubmit()">
                <p><input type="text" name="401kcontribution" placeholder="New 401k Contribution">
                </p>
                <p id="update401ksubmit"><input type="submit" name="update401ksubmit" value="Enter"></p>
            </form>
        </div>

        <span>
            <button action='/viewpaycheck' method="POST">View PayCheck</button>
        </span>

        <div id="viewPayCheck-2" class="p-container">
            <h4>Paycheck Information:</h4>
            <p id="Paycheck SSN"></p>
            <p id="Total Income"></p>
            <p id="Income Tax"></p>
            <p id="Net"></p>
            <p id="employerinsurancecontribution"></p>
            <button onclick="deletePaycheck()" id="clearInformation">Clear Information</button>
        </div>

        <!-- <div id="viewPayCheck-2" class="p-container">
            <table border="1">
            <tr>
                <th>SSN</th>
                <th>Total Income</th>
                <th>Income Tax</th>
            </tr>

            <%
            if(userData.length!=0){
                var i=1;
                userData.forEach(function(data){
                    %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=data.ssn %></td>
                    <td><%=data.base_salary %></td>
                    <td><%=data.state %></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
            </table>
    </div> -->

        <div id="perfomaceReview" class="container">
            <span>
                <h3>
                    Manager Privileges:
                </h3>
            </span>
            <form class="form-container" onsubmit="addDependentSubmit()">
                <div id="selectperformance">
                <h4>Enter the employee's performance:</h3>
                <select class="box" name="performance">
                    <option value="amazing">Amazing</option>
                    <option value="good">Good</option>
                    <option value="ok">Ok</option>
                    <option value="bad">Bad</option>
                </select>
                </div>

                <div id="View" class="p-container">
                    <h4>Employee Performance:</h4>
                    <p id="Performance">Performance</p>
                    <button id="clearInformation">Clear Information</button>
                    </div>
            </form>
        </div>

    </div>

</body>

</html>
