<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> User Sign-up </title>
    <link rel="stylesheet" type="text/css" href="css/signupstyle.css" />

</head>

<body>

    <div class="signup">
        <h1 class="signup-header">Sign-up</h1>

        <form class="signup-container" method="POST" action="/signup">
            <p id="email"><input type="email" name="email"
                placeholder="Enter E-mail">
            </p>
            <p id=""
            <p id="first-name"><input type="text" name="first"
                placeholder="First Name">
            </p>
            <p id="last-name"><input type="text" name="last"
                placeholder="Last Name">
            </p>

            <p id="password"><input type="password" name="password"
                placeholder="New Password">
            </p>
            <p id="password"><input type="password" name="passwordConfirm"
                placeholder="Confirm Password">
            </p>

            <p id="submit"><input type="submit" value="Enter"></p>
        </form>
    </div>

</body>


</html>
