<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> User Sign-in </title>
    <link rel="stylesheet" type="text/css" href="css/signinstyle.css" />

</head>

<body>

    <div class="signin">
        <h1 class="signin-header">Sign-in</h1>

        <form class="signin-container">
            <p><input type="text"
                placeholder="Social Security Number">
            </p>
            <p><input type="password"
                placeholder="Password"
            </p>
            <p><input type="submit" value="Enter"></p>
        </form>
    </div>

</body>


</html>
